<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Design Sprint Enterprise</title>
    <meta name="description" content="Resolvemos problemas de negocio con una visión integrada entre estrategia, diseño de experiencia y tecnología.">
    <meta name="robots" content="noodp">
    <link rel="canonical" href="https://chile.continuum.cl/">

    <!-- Share Twitter y Facebook -->
    <meta property="og:locale" content="es_ES">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Continuum">
    <meta property="og:description" content="Resolvemos problemas de negocio con una visión integrada entre estrategia, diseño de experiencia y tecnología.">
    <meta property="og:url" content="http://chile.continuum.cl/">
    <meta property="og:site_name" content="Continuum Chile">
    <meta property="og:image" content="http://">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="Resolvemos problemas de negocio con una visión integrada entre estrategia, diseño de experiencia y tecnología.">
    <meta name="twitter:title" content="Continuum Chile">
    <meta name="twitter:image" content="">

    <link rel="shortlink" href="http://chile.continuum.cl/">
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Fonts -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>

    <!-- Script -->
    <%= stylesheet_link_tag "site" %>
  </head>
  <body>
    <%= javascript_include_tag "site" %>
    <%= partial "partials/header" %>
    <%= yield %>
    <%= partial "partials/footer" %>
  </body>
</html>
