<section class="presentation">
  <div class="container">
    <h1><%= t('presentation.title') %></h1>
    <h2><%= t('presentation.description_home') %></h2>
    <%= image_tag 'home-graphic.png' %>
  </div>
</section> 

<section class="invitation">
  <div class="container">
    <div class="box">
      <h3><%= t('presentation.why-title') %></h3>
      <p><%= t('presentation.why') %></p>
    </div>
  </div>
</section>

<%= partial "partials/how" %>